{% extends "base.html" %}

{% block content %}
    <h2 class="section-title">Categoria: {{ category_name }}</h2>
    <ul class="articles-list">
        {% for post in posts %}
        <li>
            <a href="{{ post.url }}" class="article-entry">
                {{ post.svg_thumb | safe }}
                <div class="article-info">
                    <div class="article-title">{{ post.title }}</div>
                    <div class="article-meta">{{ post.date }}</div>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
