{% extends "base.html" %}

{% block content %}
    <h2 class="section-title">Articulos</h2>
    <ul class="articles-list">
        {% for post in posts %}
        <li>
            <a href="{{ post.url }}" class="article-entry">
                {{ post.svg_thumb | safe }}
                <div class="article-info">
                    <div class="article-title">{{ post.title }}</div>
                    <div class="article-meta">{{ post.date }} &middot; {{ post.category }}</div>
                    <div class="article-excerpt">{{ post.excerpt }}</div>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
